body {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

.event-container {
    max-width: 80%;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


